{% extends "base.html" %}
{% block app_content %}

    <p>Teachers</p>

    <p></p>
    <table>
        <tr>
            <td>№</td>
            <td>Name</td>
            <td>Country</td>
            <td>birthday</td>
            <td>phone</td>
            <td>Rate</td>
            <td>Paid</td>
            <td>Passed</td>
        </tr>
        {% for info in infos %}
        <tr>
            <td> {{ info.id }}</td>
            <td><a href="{{ url_for('main.information', id=info.id) }}">{{ info.name }}</a></td>
            <td>{{ info.country }}</td>
            <td>{{ info.date_of_birth }}</td>
            <td>{{ info.phone_number }}</td>
            <td>{{ info.value }}</td>
            <td>{{ info.pay_already }}</td>
            <td>{{ info.pass_lesson }}</td>

        </tr>
        {% endfor %}

    </table>
{% endblock %}