{% extends "base.html" %}

{% block app_content %}
    <p> Administrations users </p>
    <table>
        <tr>
            <td>Name</td>
            <td>Country</td>
            <td>Phone</td>
            <td>Birthday</td>

            <td>Email</td>
            <td>Role</td>
        </tr>
        {% for user in users_info %}
        <tr>
            <td>{{ user.Info.name }}</td>
            <td>{{ user.Info.country }}</td>
            <td>{{ user.Info.phone_number }}</td>
            <td>{{ user.Info.date_of_birth }}</td>
            <td>{{ user.User.email }}</td>
            <td>
                {% if user.User.role == 1 %}
                     Student
                {% elif  user.User.role == 2 %}
                    Teacher
                {% elif  user.User.role == 3 %}
                    Admin
                {% elif  user.User.role == 4 %}
                    Superadmin
                {% endif %}
            </td>
            {% if user.User.role < 4 %}
            <td><a href="{{ url_for('main.make_teacher', id=user.User.id) }}">make teacher </a></td>
            <td><a href="{{ url_for('main.make_admin', id=user.User.id) }}">make admin </a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}