{% extends "base.html" %}
{% block app_content %}

    <p>
    <a href="{{ url_for('main.add_new') }}"> Create new student</a></p>
    <p>
        <a href="{{url_for('main.admin_panel_main', act='tru')}}">Active students</a>
        <a href="{{url_for('main.admin_panel_main', act='fals')}}">Dective students</a>
        <a href="{{url_for('main.admin_panel_main',  act='all')}}">All students</a>"
    </p>
    <table>Students
        <tr>
            <td>№</td>
            <td>id</td>
            <td>Name</td>
            <td>Country</td>
            <td>City</td>
            <td>Occupation</td>
            <td>Speed</td>
            <td>Price</td>
            <td>Source</td>
            <td>Lessons left</td>
            <td>Teacher</td>
            <td>Timetable</td>
        </tr>
        {% for info in infos %}
        <tr>
            <td> {{ info[2] }}</td>
            <td> {{ info[0].id }}</td>
            <td><a href="{{ url_for('main.information', id=info[0].id) }}">{{ info[0].name }}</a></td>
            <td>{{ info[0].country }}</td>
            <td>{{ info[0].city }}</td>
            <td>{{ info[0].occupation }}</td>
            <td>{{ info[0].speed }}</td>
            <td>{{ info[0].value }}</td>
            <td>{{ info[0].source }}</td>
            <td bgcolor="
            {% if info[0].lessons < 0 %}
                F1C0BC
            {% else %}
                79DD57
            {% endif %}">
            {{ info[0].lessons }}</td>
            {% if info[0].has_teacher() == False %}
            <td><a href="{{ url_for('main.chouse_teacher',id=info[0].id) }}">not active</a></td>
            {% else  %}
            <td>{{ info[0].get_teacher() }}</td>
            {% endif %}
            <td>
                {% for g in info[1] %}


                    {% if g.weekday==0 %}
                        Monday
                    {% elif g.weekday==1 %}
                        Tuesday
                    {% elif g.weekday==2 %}
                        Wednesday
                    {% elif g.weekday==3 %}
                        Thursday
                    {% elif g.weekday==4 %}
                        Friday
                    {% elif g.weekday==5 %}
                        Saturday
                    {% elif g.weekday==6 %}
                        Sunday
                    {% endif %}
                    {{g.hour}}:{{g.minute}}


                {% endfor %}

            </td>
            <td><a href="{{ url_for('main.secsesfuly', id=info[0].id) }}">Lessons</a> </td>
            <td><a href="{{ url_for('main.get_paid',id=info[0].id) }}">Paid</a></td>
            {% if info[0].activa == True %}
                <td><a href="{{ url_for('main.deactivate',id=info[0].id, act=act)  }}"> Deactivate </a></td>
            {% else %}
                <td><a href="{{ url_for('main.activate',id=info[0].id, act=act) }}"> Activate </a></td>
            {% endif %}

        </tr>
        {% endfor %}

    </table>

{% endblock %}