{% extends "base.html" %}
{% block app_content %}

    <p></p>
    <table>Students
        <tr>
            <td>№</td>
            <td>Name</td>
            <td>Country</td>
            <td>Birthday</td>
            <td>Phone</td>
            <td>Speed</td>
            <td>Price</td>
            <td>Source</td>
            <td>Paid</td>
            <td>Passed</td>
            <td></td>
            <td>Teacher</td>
        </tr>
        {% for info in infos %}
        <tr>
            <td> {{ info.id }}</td>
            <td><a href="{{ url_for('main.information', id=info[0].id) }}">{{ info[0].name }}</a></td>
            <td>{{ info[0].country }}</td>
            <td>{{ info[0].date_of_birth }}</td>
            <td>{{ info[0].phone_number }}</td>
            <td>{{ info[0].speed }}</td>
            <td>{{ info[0].value }}</td>
            <td>{{ info[0].source }}</td>
            <td>{{ info[0].pay_already }}</td>
            <td>{{ info[0].pass_lesson }}</td>
            <td>{{ info[0].was_pay_for_lesson }}</td>
            {% if info[0].has_teacher() == False %}
            <td><p>Hasn't teacher</p></td>
            {% else  %}
            <td>{{ info[0].get_teacher() }}</td>
            {% endif %}
            <td>
                {% for g in info[1] %}

                    {% if g.weekday==0 %}
                        Monday
                    {% elif g.weekday==1 %}
                        Tuesday
                    {% elif g.weekday==2 %}
                        Wednesday
                    {% elif g.weekday==3 %}
                        Thursday
                    {% elif g.weekday==4 %}
                        Friday
                    {% elif g.weekday==5 %}
                        Sarturday
                    {% elif g.weekday==6 %}
                        Sanday
                    {% endif %}
                    {{g.hour}}:{{g.minute}}
                {% endfor %}

            </td>
            <td><a href="{{ url_for('main.secsesfuly', id=info[0].id) }}">Lessons</a> </td>
            <td><a href="{{ url_for('main.chouse_teacher',id=info[0].id) }}">Point teacher</a></td>
        </tr>
        {% endfor %}

    </table>
    <a href="{{ url_for('main.add_new') }}"> Create new student</a>
{% endblock %}