{% extends "base.html" %}
{% block app_content %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <a href="{{ url_for('main.information', id=info.id) }}">{{ info.name }}</a> Paid<br>
            {% if info.id_user %}
                <p>Було виплачено: {{ paid }}</p>
                <p>Заробила: {{ sume }}</p>
                <p>Вина вчителю: {{ sume - paid }}</p>
            {% else %}
                <p>Заплатив: {{ paid }}</p>
                <p>Пройшов уроки на :{{ sume }}</p>
                <p>Ще винен: {{ sume - paid }}</p>
                <p>Пройшов уроків {{ num_less }} </p>
                <p> Сума проплачених уроків {{ paid_lessons }}</p>
                <p>баланс уроків: {{ info.lessons }} </p>
            {% endif %}

            Гроші<br>
            {{ form.money(size=32) }}<br>
            lessons<br>
            {{ form.lessons(size=32) }}<br>
            {{ form.coment.label }}<br>
            {{ form.coment(size=32) }}
            {{ form.date }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<table>
    <tr>
        <td>Date</td>
        <td>Sum</td>
        <td>Lessons</td>
        <td>Comment</td>
        <td></td>
    </tr>
    {% for cah_flow in cah_flows %}
    <tr>
        <td>{{ cah_flow.date }}</td>
        <td>{{ cah_flow.sum }}</td>
        <td>{{ cah_flow.lessons }}</td>
        <td>{{ cah_flow.coment }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}