{% extends "base.html" %}
{% block app_content %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <a href="{{ url_for('main.information', id=info.id) }}">{{ info.name }}</a> Paid<br>
            {{ form.money(size=32) }}<br>
            {{ form.coment.label }}<br>
            {{ form.coment(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<table>
    <tr>
        <td>Date</td>
        <td>Sum</td>
        <td>Comment</td>
    </tr>
    {% for cah_flow in cah_flows %}
    <tr>
        <td>{{ cah_flow.date }}</td>
        <td>{{ cah_flow.sum }}</td>
        <td>{{ cah_flow.coment }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}