{% extends 'base.html' %}
{% block app_content %}
<a href="{{ url_for('main.sudo_graph', role='student') }}">All lessons</a>
<a href="{{ url_for('main.sudo_graph', role='teacher') }}">Teacher's free time</a>
<table>

    <tr>
        {% for i in range(7) %}
        <td>
            <ul>
                <li>Total {{ to_total[i]["Total"] }}</li>
                {% for teach in to_total[i]["list"] %}
                <li>
                    {{ teach }} {{ to_total[i][teach] }}
                </li>
                {% endfor %}
            </ul>
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Sarturday</td>
        <td>Sunday</td>
    </tr>
    <tr>
        {% for i in range(graph[0].Graficks.weekday ) %}
            <td></td>
        {% endfor %}
        <td>
        {% for i in range(lenss) %}

                    {% if i>0  %}
                        {% if graph[i].Graficks.weekday > graph[i-1].Graficks.weekday %}
                            {% for j in range (graph[i].Graficks.weekday-graph[i-1].Graficks.weekday)%}
                                </td><td>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
        <ul>
            {% if not graph[i].Info.id_user and rolee == 'student'%}
            <li>
                        {{ graph[i].Graficks.hour }}
                        {{ graph[i].Graficks.minute }}
                        {{ graph[i].Info.name }}
                        {{ stud_teach[graph[i].Info.id].name }}
                    {% endif %}

                {% if rolee== 'teacher' and graph[i].Info.id_user%}
                    <li>
                            {{ graph[i].Graficks.hour }}
                            {{ graph[i].Graficks.minute }}
                            {{ graph[i].Info.name }}
                {% endif %}
                </li>
            </ul>
        {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}