{% extends "base.html" %}
{% block app_content %}
<p>
{% for year in years %}
 <a href="{{ url_for('main.total_finance', year=year) }}">{{ year }}</a>
{% endfor %}
</p>
<table>
    <tr>
        <td></td>
    {% for m in range(1, 13) %}
        <td>{{ key[m] }}</td>
    {% endfor %}
    </tr>
    <tr>
         <td>Дохід</td>
        {% for i in range(1, 13) %}
        <td>
            <a href="{{ url_for('main.fim_month_inc', year=year, month=i) }}">{{ to_output_income[key[i]] }}</a>
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td>Витрати</td>
        {% for i in range(1, 13) %}
           <td><a href="{{ url_for('main.fim_month_out', year=year, month=i) }}"> {{ to_output_outcome[key[i]] }} </a></td>
        {% endfor %}
    </tr>
    <tr>
        <td>Прибуток</td>
        {% for i in range(1, 13) %}
            <td>{{ to_output_income[key[i]] -  to_output_outcome[key[i]]  }}</td>
        {% endfor %}
    </tr>
</table>
{% endblock %}