{% extends 'base.html' %}


{% block app_content %}
<h1> Change data</h1>
    <div style="width: 30%">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.csrf_token() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.country.label }}<br>
                {{ form.country(size=32) }}
            </p>
            <p>
                {{ form.date_of_birth.label }}<br>
                {{ form.date_of_birth(size=32) }}
            </p>
            <p>
                {{ form.phone_number.label }}<br>
                {{ form.phone_number(size=32) }}
            </p>
            <p>
                {{ form.city.label }}<br>
                {{ form.city(size=32) }}
            </p>
            <p>
                {{ form.occupation.label }}<br>
                {{ form.occupation(size=32) }}
            </p>
            {% if role > 2 %}
                {% if not(info.id_user) %}
                <p>
                    {{ form.speed.label }}<br>
                    {{ form.speed(size=1) }}
                </p>

                <p>
                    {{ form.source.label }}<br>
                    {{ form.source(size=32) }}
                </p>
                {% endif %}
                <p>
                    {% if not(info.id_user) %}
                        {{ form.prize.label }}<br>
                    {% else %}
                        Rate <br>
                    {% endif %}
                    {{ form.prize(size=10) }}
                </p>
            {% endif %}
            <p>
                {{ form.submit() }}
            </p>

        </form>
    </div>

{% endblock %}