{% extends 'base.html' %}
{% block app_content %}
<div style="width: 30%">
        <form action="" method="post" novalidate>
            {% if 'csrf_token' in form %}
                 {{form.csrf_token}}
            {% endif %}
            <p>
                {{ form.weekday.label }}<br>
                {{ form.weekday(size=1) }}
            </p>
            <p>
                {{ form.houer.label }}<br>
                {{ form.houer(size=1) }}
            </p>
            <p>
                {{ form.minute.label }}<br>
                {{ form.minute(size=1) }}
            </p>

            <p>
                {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}