{% extends "base.html" %}

{% block app_content %}
Graphick {{ info.name }}
<table>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
    <tr>
    {% for day in range(7) %}
        <td>
            <ul>
            {% for temp in output[day]%}
                <li style="{% if temp.Graficks.id_user == info.id %} background-color: gray  {% endif %}">
                    <p><a href="{{ url_for('main.create_lesson_get',graphid=temp.Graficks.id) }}">{{ temp.Graficks.hour }}:
                        {% if temp.Graficks.minute != 0 %}
                        {{ temp.Graficks.minute }}
                        {% else %}
                            {{ temp.Graficks.minute }}{{ temp.Graficks.minute }}
                        {% endif %}
                    </a>-  <a href="{{ url_for('main.information',id=temp.id) }}">{{ temp.name }}</a></p>
                </li>
            {% endfor %}
            </ul>
        </td>
    {% endfor %}
    </tr>
</table>

{% endblock %}