{% extends 'base.html' %}
{% block app_content %}

<h1 xmlns="http://www.w3.org/1999/html">Information</h1>
{% if not(info.id_user) %}
    <a href="{{ url_for('main.secsesfuly', id=info.id) }}">Lessons</a>
{% endif %}

<h2> General info</h2>
    <a href="{{ url_for('main.change_info', user_id=info.id) }}">Edit info</a>


    <p>Full name: {{ info.name }}</p>
    <p>Country: {{ info.country }}</p>
    <p>City: {{ info.city }}</p>
    <p>Phone: {{ info.phone_number }}</p>
    <p>Birthday: {{ info.date_of_birth }}</p>
    <p>Occupation: {{ info.occupation }}</p>

    {% if role > 1%}

    <h2>info for teacher</h2>
    {% if not(info.id_user) %}
        <p> Speed - {{ info.speed }}</p>
    {% endif %}
    {% if info.id_user %}
        <p> Rate {{ info.value }}</p>
        <p>Lessons {{ w_l_c }}</p>
        <p><a href="{{ url_for('main.get_paid',id=info.id) }}">Salary {{ salar }}</a><p>
    {% endif %}
{% endif %}


{% if role >2 %}
    {% if not(info.id_user) %}
        <h2>Only for admin+</h2>
        {% if not(info.id_user) %}
            <p> Source - {{ info.source }}</p>
        {% endif %}
        <p>Price- {{ info.value }}</p>
        <p><a href="{{ url_for('main.get_paid',id=info.id) }}">Paid</a> -  {{ summe }} </p>
        <p>Balance {{ info.pay_already }}</p>
        <p>Passed - {{ info.pass_lesson }}</p>
        <p>Left {{ info.pay_already // info.value }}</p>
    {% endif %}
{% endif %}
    <div style="color: black; background-color: gray; width: 300px; height: 150px;">
        {% for gra in graph %}
            <p> {{gra.alt_key[gra.weekday]}} {{gra.hour}}:{{gra.minute}}
                {% if role > 1%}
                    {% if current_user.id != info.id_user %}
                    <a href="{{ url_for('main.edit_graph',id = gra.id) }}">edit graph</a>
                    {% endif %}
                {% endif %}
                {% if (role > 2) or current_user.id == info.id_user %}
                    <a href="{{ url_for('main.dell_graph',id = gra.id) }}">delete</a>
                {% endif %}

            </p>
        {% endfor %}
        {% if role >2 or current_user.id == info.id_user%}
            <a href="{{url_for('main.add_graficks', id=info.id)}}">add graph </a>
        {% endif %}
    </div>

{% if role > 1 and info.role() == 1 %}
    <div style="color: black; background-color: green; width: 300px; height: 100px;">Teacher:
        {% for teacher in teachers %}
            <a href="{{ url_for('main.information', id = teacher.id) }}">{{ teacher.name }}</a>
            {% if role >2 %}
                <a href="{{ url_for('main.del_teacher', stud=info.id , teach=teacher.id_user) }}"> delete</a>
            {% endif %}
        {% endfor %}
        {% if role >2 %}
            <a href="{{ url_for('main.chouse_teacher',id=info.id) }}">add new</a>
        {% endif %}

        </div>
{% endif %}
    <p><a href="{{ url_for('main.lessons_past',id = info.id) }}"> Lessons executed</a></p>

{% endblock %}