{% extends 'base.html' %}

{% block app_content %}
<table>
    <tr>
        <td>№:</td>
        <td>Rhymes</td>
        <td>Repetition</td>
        <td>Reading</td>
        <td>Speaking</td>
        <td>Q&A</td>
        <td>Topics</td>
        <td>Associations</td>
        <td>Grammar</td>
    </tr>
    {% for part in party %}
    <tr>
        {% if part.number != 80 %}
            <td>{{ part.number + 1 }}</td>
            {% if part.rypma != party[80].rypma %}
                {% if role < 3 %}
                    <td>{{ part.rypma }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=1) }}">{{ part.rypma }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=1) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.repetition != party[80].repetition %}
                {% if role < 3 %}
                    <td>{{ part.repetition }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=2) }}">{{ part.repetition }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=2) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.reading != party[80].reading %}
                {% if role < 3 %}
                    <td>{{ part.reading }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=3) }}">{{ part.reading }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=3) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.speaking != party[80].speaking %}
                {% if role < 3 %}
                    <td>{{ part.speaking }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=4) }}">{{ part.speaking }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=4) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.qetion != party[80].qetion %}
                {% if role < 3 %}
                    <td>{{ part.qetion }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=5) }}">{{ part.qetion }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=5) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.topics != party[80].topics %}
                {% if role < 3 %}
                    <td>{{ part.topics }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=6) }}">{{ part.topics }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=6) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.associations != party[80].associations %}
                {% if role < 3 %}
                    <td>{{ part.associations }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=7) }}">{{ part.associations }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=7) }}">-</a> </td>
                {% endif %}
            {% endif%}

            {% if part.grammar != party[80].grammar %}
                {% if role < 3 %}
                    <td>{{ part.grammar }}</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=8) }}">{{ part.grammar }}</a> </td>
                {% endif %}
            {% else %}
                {% if role < 3 %}
                    <td>-</td>
                {% else %}
                    <td><a href="{{url_for('main.changedateoflesson',id= part.id, numb=8) }}">-</a> </td>
                {% endif %}
            {% endif%}

        {% endif %}
    </tr>
    {% endfor %}

</table>
{% endblock %}