{% extends 'base.html' %}

{% block app_content %}
<table>
    <tr>
        <td>№:</td>
        <td>Rhymes</td>
        <td>Repetition</td>
        <td>Reading</td>
        <td>Speaking</td>
        <td>Q&A</td>
        <td>Topics</td>
        <td>Associations</td>
        <td>Grammar</td>
    </tr>
    {% for part in party %}
    <tr>
        {% if part.number != 80 %}
            <td>{{ part.number + 1 }}</td>
            {% if part.rypma != party[80].rypma %}
                <td>{{ part.rypma }}</td>
            {% else %}
                <td> - </td>
            {% endif%}
            {% if part.repetition != party[80].repetition %}
                <td>{{ part.repetition }}</td>
            {% else %}
                <td> - </td>
            {% endif%}
            {% if part.reading != party[80].reading %}
                <td>{{ part.reading }}</td>
            {% else %}
                <td> - </td>
            {% endif%}
            {% if part.speaking != party[80].speaking %}
                <td>{{ part.speaking }}</td>
            {% else %}
                <td> - </td>
            {% endif%}
            {% if part.qetion != party[80].qetion %}
                <td>{{ part.qetion }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            {% if part.topics != party[80].topics %}
                <td>{{ part.topics }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            {% if part.associations != party[80].associations %}
                <td>{{ part.associations }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            {% if part.grammar != party[80].grammar %}
                <td>{{ part.grammar }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}

</table>
{% endblock %}