<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test School</title>

</head>
<body>
<header>
    <div class="header__conteiner">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
                        <h1>Brainfor</h1>
                        <hr>
                        <nav>
                                {% if not current_user.is_authenticated %}
                                    <a href="/login/">Log in</a>
                                    <a href="{{ url_for('auth.registration') }}">Register</a>
                                {% else %}
                    <a href="/">Profile</a>

                                    <a href="/logout">Logout</a>
                <br>
                {% if current_user.role > 2 %}
                    <a href="{{url_for('main.admin_panel_main')}}">Students</a>
                    <a href="{{url_for('main.admin_panel_teachers')}}">Teachers</a>
                    <a href="{{ url_for('main.admin_users') }}">Roles</a>
                    <a href="{{ url_for('main.sudo_graph') }}">Timetable</a>
                    <a href="{{ url_for('main.finansal_get') }}">Finances</a>
                    <a a href="{{ url_for('main.total_finance') }}"> Month Finance </a>
                    <a href="{{url_for('main.deac_info')}}">Deactivate Student</a>
                {% elif current_user.role == 2 %}
                    <a href="{{ url_for('main.teacher_panel') }}">Teacher panel</a>
                {% endif %}
                {% endif %}


                        </nav>
    </div>
</header>
<main>
{% block app_content %}

{% endblock %}
</main>
</body>
</html>
